* {
  box-sizing: border-box; }
body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  display: inline-grid;
  padding: 2em 2em 2em 17em;
  font-size: 16px;
  line-height: 1.6;
  font-family: "Roboto", sans-serif;
  background-color: #000;
  place-items: center;
}

.toc {
  position: fixed;
  left: 3em;
  top: 5em;
  padding: 1em;
  width: 14em;
  line-height: 2;
}

.toc ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.toc ul ul {
  padding-left: 2em;
}

.toc li a {
  display: inline-block;
  color: #b6b7b5;
  text-decoration: none;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.toc li.visible > a {
  color: #fff;
  transform: translate(5px);
}

.toc-marker {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.toc-marker path {
  transition: all 0.3s ease;
}
.contact{
  font-size: 20px !important;
  color: #fff;
}
.contents {
  padding: 1em;
  max-width: 800px;
  font-size: 1.2em;
}

.contents img {
  max-width: 100%;
}

.contents h2,
.contents h3 {
  padding-top: 1em;
  color: #fff;
}

.contents h2 {
  margin-top: 1.2em;
}

.contents p{
  color: #fff;
}
.contents a {
  color: #b6b7b5;
}

.contents a:hover {
  color: #fff;
}

.row {
  padding: 10px 5px;
  display: flex;
}

.thumb {
  position: relative;
  margin: 10px;
  width: 60px;
  height: 80px;
  padding: 10px;
}

.credits {
  position: fixed;
  left: 5em;
  bottom: 1em;
  font-size: 14px;
  z-index: 20;
  vertical-align: middle;
}

.credits * + * {
  margin-top: 15px;
}

.credits a {
  display: block;
  padding: 9px 10px;
  color: #777;
  text-decoration: none;
}

.credits a:hover {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-height: 600px) {
  .credits {
    display: none;
  }
}
